<div class="center">
    <h4>Оголошення</h4>
</div>
<div>
    <div class="col-sm-6 col-md-4 advert">
        <div class="media services-wrap wow fadeInDown">
            <div class="media-body">
                <h3 class="center no-padding"></h3>
                <div class="pull-left">
                    <img class="img-responsive img_advert" src="../images/temp.jpg">
                </div>
                <p>text<p>
            </div>
        </div>
    </div>
</div>
    <a class="modal-cancel" href="" ng-click="cancel()">
        <i class="glyphicon glyphicon-remove-circle"></i>
    </a>
