<section id="main-slider" class="no-margin">
    <div id="home-slider" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#home-slider" data-slide-to="0" class="active"></li>
            <li data-target="#home-slider" data-slide-to="1"></li>
            <li data-target="#home-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="item active item-override" style="background-image: url(../images/university.jpg)">
                <div class="container">
                    <div class="row slide-margin bg-grey-transparent">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">КММСЕП</h1>
                                <h2 class="animation animated-item-2">Кафедра метематичного моделювання соціально-економічних процесів</h2>
                                <a smooth-scroll-jquery target="services" offset="0" class="btn-slide animation animated-item-3" href="">Дізнатися більше</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!--/.item-->

            <div class="item item-override" style="background-image: url(../images/university.jpg)">
                <div class="container">
                    <div class="row slide-margin bg-grey-transparent">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!--/.item-->

            <div class="item item-override" style="background-image: url(../images/university.jpg)">
                <div class="container">
                    <div class="row slide-margin bg-grey-transparent">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
    <a class="prev hidden-xs" href="#home-slider" data-slide="prev" target="_self">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#home-slider" data-slide="next" target="_self">
        <i class="fa fa-chevron-right"></i>
    </a>
</section><!--/#main-slider-->

<section id="feature">
    <div class="container">
        <div class="row" >
            <div class="features">
                <div class="center wow fadeInDown">
                    <h2>Популярне</h2>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <h2>Для викладачів</h2>
                        <h3>Щось для викладачів</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="glyphicon glyphicon-education"></i>
                        <h2>Для студентів</h2>
                        <h3>Щось для студентів</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" ng-click="openLink('schedule')">
                    <div class="feature-wrap">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <h2>Розклади</h2>
                        <h3>Розклади кароч</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="glyphicon glyphicon-book"></i>
                        <h2>Історія кафедри</h2>
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" ng-click="openLink('stuff')">
                    <div class="feature-wrap">
                        <i class="fa fa-users"></i>
                        <h2>Персонал</h2>
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa  fa-lightbulb-o"></i>
                        <h2>Наукова діяльність</h2>
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.services-->
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#popular-->

<section id="services" class="service-item" ng-controller="AdvertisementController">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Оголошення</h2>
            <p class="lead"></p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 advert" ng-repeat="advert in advertisements">
                <div class="media services-wrap wow fadeInDown">
                    <div class="media-body">
                        <h3 class="center no-padding">{{advert.heading}}</h3>
                        <div class="pull-left">
                            <img class="img-responsive img_advert" src="../images/temp.jpg">
                        </div>
                        <p>{{advert.text | limitTo: 90}}</p>
                    </div>
                    <button ng-click="showFullAdvert($event, $index)">Детальніше</button>
                </div>
            </div>

            
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->



