<section id="about-us">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Наукова діяльність</h2>
            <p class="lead">Основними напрямками наукової роботи кафедри є:</p>
        </div>
            <div class="col-sm-6 center-block no-float">
                <ul id="researchTargets">
                    <li ng-repeat="target in targets">
                        {{target}}
                    </li>
                </ul>
            </div>
    </div><!--/.container-->
</section><!--/about-us-->