<section class="schedule-page">
    <div class="container full-width">
        <div class="center no-padding">
            <h2>Розклади</h2>
            <hr />
        </div>
        <div class="pricing-area text-center">
            <div class="row">
                <div class="get-started center wow fadeInDown">
                    <h2>Перший курс</h2>
                    <div class="schedule-block" id="collapse-first">
                        <div class="center">
                            <h4 ng-click="collapse('first-part-first')"><a href="">Перший семестр</a></h4>
                            <h4 ng-click="collapse('first-part-second')"><a href="">Другий семестр</a></h4>
                        </div>
                        <div class="part" id="collapse-first-part">
                            <img class="schedule-image" ng-src="{{scheduleImage}}" alt="На жаль розклад поки що не доступний" />
                        </div>
                    </div>
                    <div class="request" ng-click="collapse('first')">
                        <h4><a href="">Переглянути</a></h4>
                    </div>
                </div><!--/.first-->
                <div class="get-started center wow fadeInDown">
                    <h2>Другий курс</h2>
                    <div class="schedule-block" id="collapse-second">
                        <div class="center">
                            <h4 ng-click="collapse('second-part-first')"><a href="">Перший семестр</a></h4>
                            <h4 ng-click="collapse('second-part-second')"><a href="">Другий семестр</a></h4>
                        </div>
                        <div class="part" id="collapse-second-part">
                            <img class="schedule-image" ng-src="{{scheduleImage}}" alt="На жаль розклад поки що не доступний" />
                        </div>
                    </div>
                    <div class="request" ng-click="collapse('second')">
                        <h4><a href="">Переглянути</a></h4>
                    </div>
                </div><!--/.second-->
                <div class="get-started center wow fadeInDown">
                    <h2>Третій курс</h2>
                    <div class="schedule-block" id="collapse-third">
                        <div class="center">
                            <h4 ng-click="collapse('third-part-first')"><a href="">Перший семестр</a></h4>
                            <h4 ng-click="collapse('third-part-second')"><a href="">Другий семестр</a></h4>
                        </div>
                        <div class="part" id="collapse-third-part">
                            <img class="schedule-image" ng-src="{{scheduleImage}}" alt="На жаль розклад поки що не доступний" />
                        </div>
                    </div>
                    <div class="request" ng-click="collapse('third')">
                        <h4><a href="">Переглянути</a></h4>
                    </div>
                </div><!--/.get-started-->
                <div class="get-started center wow fadeInDown">
                    <h2>Четвертий курс</h2>
                    <div class="schedule-block" id="collapse-fourth">
                        <div class="center">
                            <h4 ng-click="collapse('fourth-part-first')"><a href="">Перший семестр</a></h4>
                            <h4 ng-click="collapse('fourth-part-second')"><a href="">Другий семестр</a></h4>
                        </div>
                        <div class="part" id="collapse-fourth-part">
                            <img class="schedule-image" ng-src="{{scheduleImage}}" alt="На жаль розклад поки що не доступний" />
                        </div>
                    </div>
                    <div class="request" ng-click="collapse('fourth')">
                        <h4><a href="">Переглянути</a></h4>
                    </div>
                </div><!--/.get-started-->
                <div class="get-started center wow fadeInDown">
                    <h2>П'ятий курс</h2>
                    <div class="schedule-block" id="collapse-fifth">
                        <div class="center">
                            <h4 ng-click="collapse('fifth-part-first')"><a href="">Перший семестр</a></h4>
                            <h4 ng-click="collapse('fifth-part-second')"><a href="">Другий семестр</a></h4>
                        </div>
                        <div class="part" id="collapse-fifth-part">
                            <img class="schedule-image" ng-src="{{scheduleImage}}" alt="На жаль розклад поки що не доступний" />
                        </div>
                    </div>
                    <div class="request" ng-click="collapse('fifth')">
                        <h4><a href="">Переглянути</a></h4>
                    </div>
                </div><!--/.get-started-->
            </div>
        </div><!--/pricing-area-->
    </div><!--/container-->
</section><!--/schedule-page-->