<section id="feature" class="transparent-bg">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Працівники</h2>
            <p class="lead"></p>
        </div>

        <div class="row">
            <div class="col-md-4 wow fadeInDown" ng-repeat="worker in workers">
                <div class="workers text-center">
                    <img ng-src="{{worker.avatar}}" class="img-circle" alt="">
                    <h4><span>{{worker.fullName}}</span></h4>
                    <p>{{worker.position}}</p>
                    <h5>Предмет:</h5>
                    <p>{{worker.subjects}}</p>
                    <ul class="details">
                        <li>
                            <span class="detail-cell">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <span>{{worker.email}}</span>
                            </span>
                        </li>
                        <li>
                            <span class="detail-cell">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>{{worker.phone}}</span>
                            </span>
                        </li>
                        <li>
                            <span class="detail-cell">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <span>{{worker.facebook}}</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div><!--/.container-->
</section><!--/#feature-->